PUBLIC_BK_WS_URL="wss://wss.beatkhana.com"
PUBLIC_BK_API_URL="https://api.beatkhana.com/api"
PUBLIC_TOURNAMENT_GUID="b5b787a2-e526-48d9-9f87-7eefcc1f0de5"
PUBLIC_OVERLAY_GUID="225a0293-3ea6-4614-b02f-ab3ec51165a9"