PUBLIC_BK_WS_URL="wss://wss.beatkhana.com"
PUBLIC_BK_API_URL="https://api.beatkhana.com/api"
PUBLIC_TOURNAMENT_GUID="9d52c574-8aeb-4cf1-bb63-63a2ec360f17"
PUBLIC_OVERLAY_GUID="dd457723-6caa-4e62-a5be-f5831d99c788"